@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Unbounded:wght@600&display=swap");
.nav-btn {
  padding: 1rem;
  border: 1px solid #231F1F;
  border-radius: 22.5rem;
  background: none;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.header-btn {
  padding: 1rem 2.5rem;
  border: 2px solid #fff;
  border-radius: 2.2rem;
  background: none;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.header-btn__link {
  color: #fff;
}

.feedback-btn {
  max-width: 32rem;
  padding: 1rem;
  border: none;
  border-radius: 2.2rem;
  background: #ECEBE9;
  font-size: 2.2rem;
  line-height: 120%;
  text-align: center;
  color: #000;
}

.title-box {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}
.title-box img {
  margin-right: 2rem;
}
.title-box_mb {
  margin-bottom: 2rem;
}

.title-h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 10rem;
  line-height: 125%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

.title-h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  color: #000;
  line-height: 120%;
}
.title-h2_white {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #ECEBE9;
  color: #545454;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #545454;
  transition: color 1s;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
a:hover {
  color: #29354B;
}

.nav-menu {
  width: 100%;
  position: fixed;
  background-color: #ECEBE9;
}

.nav-menus__wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 11.5rem;
  max-height: 5rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 2.5rem;
}
.menu__item:nth-child(4) {
  margin-right: 8rem;
}

.header-section {
  background: url(./../img/header/header-bg.png) center/cover no-repeat;
}
.header-section__wrapper {
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-section__title {
  max-width: 103.5rem;
}

.slider-section {
  margin-bottom: 15rem;
}
.slider-section__top {
  padding: 15rem 0;
}
.slider-section__text {
  font-size: 2.2rem;
  line-height: 150%;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
}
.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}
.buttons button {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.buttons button img {
  width: 100%;
  height: 100%;
}

.buttons button:hover {
  transform: scale(1.1);
}

.route-section {
  padding: 15rem 0;
}
.route-section__wraper {
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.26);
  background: linear-gradient(180deg, #29354b 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  padding: 5rem 15rem;
  z-index: -1;
  height: 100vh;
}
.route-section__route {
  width: 100%;
  height: 100%;
}
.route-section__box {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
}

.tour-program {
  margin-bottom: 15rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 55rem);
  grid-template-rows: 33rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 13rem;
}
.content:nth-child(4) {
  margin-bottom: 0;
}
.content__box {
  max-width: 34rem;
  grid-row: 1/-1;
  text-align: right;
}
.content__box_left {
  grid-column: 1/2;
}
.content__box_right {
  grid-column: 2/3;
  text-align: left;
}
.content__title {
  margin-bottom: 2rem;
  font-size: 2.6rem;
}
.content__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1/-1;
}
.content__img_left {
  grid-column: 1/2;
}
.content__img_right {
  grid-column: 2/3;
}

.number {
  font-size: 8rem;
}

.section-price {
  background: #29354B;
  padding: 5rem 0;
}
.section-price__content {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-bottom: 13rem;
}
.section-price__text {
  margin-bottom: 2rem;
}
.section-price__list {
  list-style: disc;
  line-height: 150%;
}
.section-price__inf {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.feedback {
  background: linear-gradient(180deg, #d9d9d9 0%, #29354b 100%);
}
.feedback__container {
  height: -moz-max-content;
  height: max-content;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.feedback__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.feedback__text {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 3.8rem;
}
.feedback__input {
  border: none;
  outline: none;
  padding: 1rem 3rem;
  border-radius: 2.2rem;
  background: rgba(236, 235, 233, 0.34);
  max-width: 32rem;
  max-height: 4rem;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #fff;
}
.feedback__input::-moz-placeholder {
  color: #fff;
}
.feedback__input::placeholder {
  color: #fff;
}
.feedback__input:nth-last-of-type(1) {
  margin-bottom: 2.5rem;
}
.feedback__right {
  max-width: 44rem;
  max-height: 38rem;
  padding: 2.5rem 0 0;
}
.feedback__right img {
  width: 100%;
  height: 100%;
}

.footer {
  background: #29354B;
}
.footer__container {
  padding: 4rem 0 11.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  color: #fff;
}
.footer__social-network {
  display: flex;
  align-items: center;
}
.footer__social-network img {
  width: 100%;
  height: 100%;
}
.footer__link {
  margin-bottom: 1rem;
}
.footer__link:nth-child(-n+2) {
  margin-right: 2rem;
}
.footer__number {
  font-size: 2.2rem;
  color: #fff;
}