@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Unbounded:wght@600&display=swap");
.nav-btn {
  padding: 1rem;
  border: 1px solid #231F1F;
  border-radius: 22.5rem;
  background: none;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.header-btn {
  padding: 1rem 2.5rem;
  border: 2px solid #fff;
  border-radius: 2.2rem;
  background: none;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.header-btn__link {
  color: #fff;
}

.title-h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 10rem;
  line-height: 125%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

.title-h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  color: #000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #ECEBE9;
  color: #545454;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #545454;
  transition: color 1s;
  letter-spacing: 0.1rem;
}
a:hover {
  color: #29354B;
}

.nav-menu {
  width: 100%;
  position: fixed;
  background-color: #ECEBE9;
}

.nav-menus__wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 11.5rem;
  max-height: 5rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 2.5rem;
}
.menu__item:nth-child(4) {
  margin-right: 8rem;
}

.header-section {
  background: url(./../img/header/header-bg.png) center/cover no-repeat;
}
.header-section__wrapper {
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-section__title {
  max-width: 103.5rem;
}

.slider-section {
  margin-bottom: 15rem;
}
.slider-section__top {
  padding: 15rem 0;
}
.slider-section__title {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}
.slider-section__title img {
  margin-right: 2rem;
}
.slider-section__text {
  font-size: 2.2rem;
  line-height: 150%;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
}
.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}
.buttons button {
  width: 5rem;
  height: 5rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
}
.buttons button img {
  width: 100%;
  height: 100%;
}

.buttons button:hover {
  transform: scale(1.1);
}