.title-box
    display: flex
    align-items: center
    margin-bottom: 6rem
    img
        margin-right: 2rem
    &_mb
        margin-bottom: 2rem

.title-h1
    font-family: $headings
    font-weight: 500
    font-size: 10rem
    line-height: 125%
    text-transform: uppercase
    text-align: right
    color: $white

.title-h2
    font-family: $headings
    font-weight: 600
    font-size: 3rem
    text-transform: uppercase
    color: $black
    line-height: 120%
    &_white
        color: $white