.title-box
    display: flex
    align-items: center
    margin-bottom: 6rem
    &__icon
        padding: 5px
        transition: all .5s
        margin-right: 2rem
        @include adaptiv(horizontalPhone)
            max-width: 8.5rem
            max-height: 8.5rem
        @include adaptiv(verticalPhone)
            max-width: 8rem
            max-height: 8rem
    &__title
        position: relative
        &::after
            content: ""
            width: 0
            height: 3px
            background-color: $blue
            border-radius: 5px
            position: absolute
            left: 0
            bottom: -10px
            transition: all .5s
    &_mb
        margin-bottom: 2rem

.title-h1
    font-family: $headings
    font-weight: 500
    font-size: 9rem
    line-height: 125%
    text-transform: uppercase
    text-align: right
    color: $white
    @include adaptiv(horizontalPhone)
        font-size: 7rem
    @include adaptiv(verticalPhone)
        font-size: 3.6rem

.title-h2
    font-family: $headings
    font-weight: 600
    font-size: 3rem
    text-transform: uppercase
    color: $black
    line-height: 120%
    @include adaptiv(horizontalPhone)
        font-size: 2.5rem
    @include adaptiv(verticalPhone)
        font-size: 2rem
    &_white
        color: $white