.tour-program
    margin-bottom: 15rem
    @include adaptiv(horizontalPhone)
            margin-bottom: 10rem

// контент (общие стили для секции about-us и tour-program)
.content
    display: grid
    grid-template-columns: repeat(2, minmax(25rem, 55rem))
    // grid-template-columns: repeat(auto-fit, )
    grid-template-rows: max-content
    justify-content: center
    justify-items: center
    gap: 2rem
    margin-bottom: 13rem
    @include adaptiv(horizontalPhone)
        margin-bottom: 10rem
    &:nth-child(4)
        margin-bottom: 0
    &__box
        max-width: 34rem
        grid-row: 1/-1
        text-align: right
        &_left
            grid-column: 1/2
            
        &_right
            grid-column: 2/3
            text-align: left
    &__title
        margin-bottom: 2rem
        font-size: 2.6rem
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        grid-row: 1/-1
        &_left
            grid-column: 1/2
        &_right
            grid-column: 2/3

.number
    font-size: 8rem
    @include adaptiv(horizontalPhone)
        font-size: 5rem