.header-section
    background: url(./../img/header/header-bg.png) center / cover no-repeat
    &__wrapper
        height: 100vh
        padding-top: 10rem
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
    &__title
        max-width: 103.5rem