.slider-section
    margin-bottom: 15rem
    @include adaptiv(horizontalPhone)
            margin-bottom: 10rem
    &__top
        padding: 15rem 0
        @include adaptiv(horizontalPhone)
            padding: 10rem 0
    &__text
        font-size: 2.2rem
        line-height: 150%
        @include adaptiv(verticalPhone)
            font-size: 1.6rem

// слайдер
.slider
    width: 100%
    height: 100vh
    position: relative
    @include adaptiv(verticalPhone)
        height: 50vh

.item
    width: 100%
    height: 100%
    position: absolute
    z-index: 555
    top: 50%
    transform: translate(0, -50%)
    img
        width: 100%
        height: 100%
        object-fit: cover

// кнопки слайдера
.buttons
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 5555
    width: 100%
    display: flex
    justify-content: space-between
    padding: 0 5rem
    @include adaptiv(verticalPhone)
        padding: 0 2rem
    button
        width: 4rem
        height: 4rem
        padding: 0
        border: none
        border-radius: 50%
        transition: .5s
        cursor: pointer
        @include adaptiv(verticalPhone)
            width: 3rem
            height: 3rem
        img
            width: 100%
            height: 100%

.buttons button:hover
    transform: scale(1.1)